.home-container {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.homeHeader {
  text-align: center;
  margin-bottom: 100px;
}

.homeHeader h1 {
  font-size: 30px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 8px;
}

.homeHeader p {
  font-size: 20px;
  color: #343536;
  max-width: 600px;
  margin: 0 auto;
}

.categories-grid {
  display: flex;
  gap: 32px;
  max-width: 80%;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

.category-card {
  background: rgb(245, 245, 245);
  width: 25%;
  border-radius: 6px;
  padding: 25px 20px;
  text-align: center;
  border: 1px solid #a0a0a0;
  transition: all 0.3s cubic-bezier(0.8, 0, 0.3, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* .category-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-color: #6366f1;
} */

/* .card-icon {
  width: 64px;
  height: 64px;
  background-color: #f5f3ff;
  color: #6366f1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;
} */

/* .category-card:hover .card-icon {
  transform: scale(1.1);
  background-color: #6366f1;
  color: white;
} */

/* .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;
} */

/* .card-desc {
  font-size: 1rem;
  color: #6c757d;
  margin: 0;
} */

/* @media (max-width: 768px) {
  .homeHeader h1 {
    font-size: 2.5rem;
  } */
  
  /* .home-container {
    padding: 2rem 1rem;
  } */
